* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
/* utilitis */
.flex {
  display: flex;
}
/* .border {
  border: 2px dashed red;
} */
.radius-50 {
  border-radius: 50%;
}
/* side-bar */
.side-bar {
  flex-basis: 200px;
  flex-shrink: 0;
  z-index: 1;
  background-color: black;
  position: relative;
  color: white;
  padding: 20px;
  cursor: pointer;
}
.logo {
  height: 90px;
}
.logo > img {
  height: 60px;
  padding: 10px;
}
.logo > img:last-child {
  display: none;
}

.list-bar {
  min-height: 120px;
  margin-bottom: 20px;
  color: white;
  flex-direction: column;
}
.list-item > img {
  height: 40px;
}
.list-item {
  align-items: center;
}
.list-playlist {
  height: 200px;
  color: RGB(163, 163, 163);
  overflow-y: auto;
}
.fa-plus {
  padding: 10px;
  background-color: RGB(163, 163, 163);
  color: black;
  margin-bottom: 10px;
}
.pl-name {
  height: 100%;
}
.pl-name > h4 {
  color: RGB(163, 163, 163);
  padding-bottom: 10px;
}
.profile {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  color: RGB(163, 163, 163);
}
.profile > img {
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}
hr {
  margin: 10px 0;
}
.logo-profile {
  background-color: gray;
  color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.logo-profile > img {
  height: 35px;
}
.name-account {
  color: white;
}

/* main */
main {
  height: calc(100vh - 100px);
}
.big-main {
  flex-grow: 1;
  background-color: RGB(20, 25, 33);
  overflow-y: auto;
}

/* header */
.header {
  height: 80px;
  width: 100%;
  padding-bottom: 100px;
  background-color: RGB(8, 11, 17);
  opacity: 0.5;
  position: sticky;
  top: 0;
  left: 0;
}
.header > a {
  padding: 10px 20px;
  position: absolute;
  top: 20px;
  right: 10px;
  border: 2px solid white;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/* nav-bar */

.nav-bar {
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  flex-wrap: wrap;
  color: RGB(105, 108, 113);
}
.nav-bar > ul {
  list-style-type: none;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}
.nav-bar li {
  cursor: pointer;
}

.btn-green {
  border-bottom: 2px solid green;
}

/* main-playlist */
.playlist {
  color: white;
  padding: 20px;
}
.pl-music {
  flex-wrap: wrap;
}
.playlist-box {
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0 15px;
  flex-basis: calc(100% / 6);
  cursor: pointer;
}

.pl-img > img {
  max-width: 100%;
}
.pl-title {
  text-align: center;
}
.pl-title > h3 {
  padding-bottom: 10px;
  font-weight: 600;
}
.text-large {
  font-size: 12px;
}
.pl-title > h5 {
  color: RGB(105, 108, 113);
}
.pl-s-box {
  gap: 10px;
}
.title-section-pl {
  font-weight: bold;
  padding: 20px 0;
}
.title-section-pl > h5 {
  color: RGB(105, 108, 113);
  padding: 10px 0;
}

/* footer */
footer {
  background-color: black;
  height: 100px;
  justify-content: space-between;
  width: 100%;
}
.footer-listen {
  flex-basis: 20%;
  padding: 20px;
  align-items: center;
}

.img-listen {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.img-listen > img {
  height: 100%;
}
.img-listen-text {
  color: white;
  padding-right: 50px;
}
.img-listen-text > h5,
.icon-footer-left {
  color: gray;
}
.fa-heart {
  margin-right: 10px;
}

.footer-player {
  flex-basis: 40%;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: space-around;
}
.player-icon {
  font-size: 30px;
  width: 100%;
  justify-content: center;
}
.player-icon > * {
  padding: 0 20px;
}
.player-bar {
  align-items: center;
  width: 100%;
  justify-content: center;
}
.bars-time {
  width: 50%;
  height: 5px;
  border-radius: 20px;
  background-color: RGB(89, 89, 89);
  margin: 0 20px;
}
.footer-sound {
  flex-basis: 20%;
  color: white;
  align-items: center;
  justify-content: flex-end;
}
.icon-footer-right {
  padding: 20px;

  justify-content: flex-end;
}
.icon-footer-right > .fa-solid {
  padding: 5px;
}
.bar-volume {
  flex-basis: 150px;
  height: 5px;
  border-radius: 20px;
  background-color: RGB(89, 89, 89);
  margin-right: 10px;
}

/* effetti hover */

/* header */
.header a:hover {
  transform: scale(1.1);
}
.nav-bar li:hover {
  color: white;
  transition: 0.5s;
}
/* main song */

/* responsive */

/* resp 878px */

@media screen and (max-width: 878px) {
  .playlist-box {
    flex-basis: calc(100% / 4);
  }
  footer {
    justify-content: center;
  }
  .footer-listen {
    padding: 0;
  }
  .footer-player {
    padding: 0;
  }
  .footer-sound {
    padding: 0;
    flex-basis: 30%;
  }
  .icon-footer-right {
    padding: 0;
  }
  .player-icon > * {
    padding: 5px;
  }
  .img-listen-text {
    padding-right: 5px;
  }
}
/* responsive 639 */

@media screen and (max-width: 639px) {
  .playlist-box {
    flex-basis: calc(100% / 2);
  }
  .icon-footer-left {
    flex-direction: column;
  }
  .icon-footer-right {
    padding: 5px;

    justify-content: flex-end;
  }
  .icon-footer-right > .fa-solid {
    padding: 5px;
  }
  .bar-volume {
    margin-right: 2px;
  }
}
/* responsive 552px */
@media screen and (max-width: 552px) {
  .side-bar {
    flex-basis: 50px;
    text-align: center;
  }
  .list-bar {
    align-items: center;
  }
  .profile > hr,
  span {
    display: none;
  }
  .logo-profile {
    margin-top: 20px;
  }
  .list-playlist {
    display: none;
  }
  .playlist-box {
    flex-basis: calc(100% / 2);
  }
  .logo {
    justify-content: center;
    align-items: center;
  }
  .logo > img:last-child {
    display: flex;
  }
  h4,
  .logo > img:first-child {
    display: none;
  }
  .player-icon {
    justify-content: space-around;
  }
  .icon-footer-left {
    flex-direction: column;
  }
}
