* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* utilitis */
.flex {
  display: flex;
}
.border {
  border: 2px dashed red;
}
.radius-50 {
  border-radius: 50%;
}
/* side-bar */
.side-bar {
  flex-basis: 200px;
  flex-shrink: 0;
  z-index: 1;
  background-color: black;
  position: relative;
}
.logo {
  min-height: 80px;
}
.list-bar {
  min-height: 120px;
}
.list-playlist {
  min-height: 300px;
}
.profile {
  position: absolute;
  bottom: 0;

  left: 0;
  right: 0;
  height: 80px;
}

/* main */
main {
  width: 100%;
}
.big-main {
  flex-grow: 1;
  height: calc(100vh - 100px);
  background-color: RGB(20, 25, 33);
  overflow-y: auto;
}

/* header */
.header {
  height: 80px;
  width: 100%;
  padding-bottom: 100px;
  background-color: RGB(8, 11, 17);
  opacity: 0.5;
  position: relative;
}
.header > a {
  padding: 10px 20px;
  position: absolute;
  top: 20px;
  right: 10px;
  border: 2px solid white;
  border-radius: 20px;
  text-decoration: none;
  color: white;
}

/* nav-bar */

.nav-bar {
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  flex-wrap: wrap;
}
.nav-bar > ul {
  list-style-type: none;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}
.nav-bar li {
  padding: 0 30px;
}

/* main-playlist */
.playlist {
  color: white;
  padding: 20px;
}
.pl-music {
  flex-wrap: wrap;
  flex-grow: 1;

  gap: 10px;
  margin-bottom: 20px;
}
.playlist-box {
  flex-direction: column;
}
.pl-img {
  width: 200px;
  height: 200px;
}
.pl-img > img {
  height: 100%;
}
.pl-title {
  text-align: center;
}
.pl-title > h3 {
  padding-bottom: 10px;
}
.pl-s-box {
  gap: 10px;
}

/* footer */
footer {
  background-color: black;
  height: 100px;
}
.footer-listen {
  flex-basis: 30%;
}
.footer-player {
  flex-basis: 40%;
}
.footer-sound {
  flex-basis: 30%;
}

/* responsive */

/* resp 878px */

@media screen and (max-width: 878px) {
  .pl-img {
    width: 150px;
    height: 150px;
  }
}

/* responsive 552px */
@media screen and (max-width: 552px) {
  .side-bar {
    flex-basis: 50px;
  }
  .pl-img {
    width: 200px;
    height: 200px;
  }
}
