* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
/* utilitis */
.flex {
  display: flex;
}
.border {
  border: 2px dashed red;
}
.radius-50 {
  border-radius: 50%;
}
/* side-bar */
.side-bar {
  flex-basis: 200px;
  flex-shrink: 0;
  z-index: 1;
  background-color: black;
  position: relative;
  color: white;
}
.logo {
  height: 90px;
}
.logo > img {
  height: 60px;
  padding: 10px;
}
.logo > img:last-child {
  display: none;
}

.list-bar {
  min-height: 120px;
  padding: 20px;
  color: white;
  flex-direction: column;
}
.list-item > img {
  height: 40px;
}
.list-item {
  align-items: center;
}
.list-playlist {
  min-height: 300px;
}
.profile {
  position: absolute;
  bottom: 0;

  left: 0;
  right: 0;
  height: 80px;
}

/* main */
main {
  height: calc(100vh - 100px);
}
.big-main {
  flex-grow: 1;
  background-color: RGB(20, 25, 33);
  overflow-y: auto;
}

/* header */
.header {
  height: 80px;
  width: 100%;
  padding-bottom: 100px;
  background-color: RGB(8, 11, 17);
  opacity: 0.5;
  position: sticky;
  top: 0;
  left: 0;
}
.header > a {
  padding: 10px 20px;
  position: absolute;
  top: 20px;
  right: 10px;
  border: 2px solid white;
  border-radius: 20px;
  text-decoration: none;
  color: white;
}

/* nav-bar */

.nav-bar {
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  flex-wrap: wrap;
}
.nav-bar > ul {
  list-style-type: none;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}
.nav-bar li {
  padding: 0 30px;
}

/* main-playlist */
.playlist {
  color: white;
  padding: 20px;
}
.pl-music {
  flex-wrap: wrap;
}
.playlist-box {
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0 5px;
  flex-basis: calc(100% / 6);
}

.pl-img > img {
  max-width: 100%;
}
.pl-title {
  text-align: center;
}
.pl-title > h3 {
  padding-bottom: 10px;
}
.pl-s-box {
  gap: 10px;
}

/* footer */
footer {
  background-color: black;
  height: 100px;
}
.footer-listen {
  flex-basis: 30%;
}
.footer-player {
  flex-basis: 40%;
}
.footer-sound {
  flex-basis: 30%;
}

/* responsive */

/* resp 878px */

@media screen and (max-width: 878px) {
  .playlist-box {
    flex-basis: calc(100% / 4);
  }
}

/* responsive 552px */
@media screen and (max-width: 552px) {
  .side-bar {
    flex-basis: 50px;
  }
  .playlist-box {
    flex-basis: calc(100% / 2);
  }
  .logo {
    justify-content: center;
    align-items: center;
  }
  .logo > img:last-child {
    display: flex;
  }
  h4,
  .logo > img:first-child {
    display: none;
  }
}
